* {
    margin: 0;
    padding: 0;
}

.content {
    grid-area: content;
    /*need to use SCSS, 58px- height of header*/
    /*height: calc(100vh - 58px);*/
    /*background: url("../img/bright.jpg") center no-repeat;*/
    /*background-size: cover;*/
}