.container {
    min-width: 100vw;
    min-height: 100vh;
    background: url('bright.jpg') center no-repeat;
    background-size: cover;
    display: grid;
    grid-template: 'header header' 'nav content' 1fr/12% 1fr;
}

@media (max-width: 867px) {
    .container {
        grid-template: 'header header' 'nav content' 1fr/104px 1fr;
    }

}
