.friends_container {
    display: inline-grid;
    grid-template-columns: 3fr 9fr;
}

.friends_list {
    /*grid-area: b;*/
    /*background: rgba(142, 135, 135, 0.9);*/
}


.friend_profile {
    /*background: rgba(0, 0, 0, 0.7);*/
    color:#ffffff;

}

